@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

button {
  transition: all 140ms ease-out;
}

.btn {
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 4px;
  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.6;
  }
  &:active {
    transform: scale(0.8);
  }
}

label {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

input {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 4px;
}

a {
  font-size: 12px;
  text-decoration: underline;
  color: #1a1aa6;
}

.error {
  font-size: 10px;
  color: #ba0d0d;
}
